/*
* vexillum by @talgautb
*/
.vex {
  width: 200px;
}
.vex._cz {
  height: 133.3333333333334px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-style: solid;
  border-width: 66.66666666666664px 0 66.66666666666664px 100px;
  border-color: white transparent transparent #0637be;
  background: #eb0009;
}
.vex._ru {
  height: 133.3333333333334px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 44.444444444444464px solid #fff;
  border-bottom: 44.444444444444464px solid #d52b1e;
  background: #0039a6;
}
.vex._lv {
  height: 100px;
  border-top: 40px solid #8c1515;
  border-bottom: 40px solid #8c1515;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #fff;
}
.vex._pl {
  height: 125px;
  background: -webkit-linear-gradient(#fff 0%, #fff 50%, #d4213d 50%, #d4213d 100%);
  background: linear-gradient(#fff 0%, #fff 50%, #d4213d 50%, #d4213d 100%);
}
.vex._hu {
  height: 133.3333333333334px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 44.444444444444464px solid #cd2a3e;
  border-bottom: 44.444444444444464px solid #436f4d;
  background: #fff;
}
.vex._at {
  height: 133.3333333333334px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 44.444444444444464px solid #ed2923;
  border-bottom: 44.444444444444464px solid #ed2923;
  background: #fff;
}
.vex._de {
  height: 120px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 39.99999999999999px solid #000;
  border-bottom: 39.99999999999999px solid #fc0;
  background: #f00;
}
.vex._ee {
  height: 127.27272727272721px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 42.424242424242394px solid #007dc3;
  border-bottom: 42.424242424242394px solid #fff;
  background: #000;
}
.vex._be {
  height: 173.3333333333334px;
  background: -webkit-linear-gradient(right, #000 0%, #000 33.33333333333333%, #ffe936 33.33333333333333%, #ffe936 66.66666666666666%, #ff0f21 66.66666666666666%, #ff0f21 99.99999999999999%);
  background: linear-gradient(to left, #000 0%, #000 33.33333333333333%, #ffe936 33.33333333333333%, #ffe936 66.66666666666666%, #ff0f21 66.66666666666666%, #ff0f21 99.99999999999999%);
}
.vex._dk {
  height: 151.3513513513514px;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(0deg, #fff, #fff), -webkit-linear-gradient(90deg, #fff, #fff);
  background-image: linear-gradient(90deg, #fff, #fff), linear-gradient(0deg, #fff, #fff);
  background-color: #e31836;
  background-size: 100% 21.62162162162163px, 21.62162162162162px 100%;
  background-position: 0 64.86486486486488px, 64.86486486486487px 0;
}
.vex._se {
  height: 125px;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(0deg, #ffde00, #ffde00), -webkit-linear-gradient(90deg, #ffde00, #ffde00);
  background-image: linear-gradient(90deg, #ffde00, #ffde00), linear-gradient(0deg, #ffde00, #ffde00);
  background-color: #0065a4;
  background-size: 100% 25px, 25px 100%;
  background-position: 0 50px, 62.5px 0;
}
.vex._is {
  height: 144px;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(0deg, #ff0f00, #ff0f00), -webkit-linear-gradient(90deg, #ff0f00, #ff0f00), -webkit-linear-gradient(0deg, #fff, #fff), -webkit-linear-gradient(90deg, #fff, #fff);
  background-image: linear-gradient(90deg, #ff0f00, #ff0f00), linear-gradient(0deg, #ff0f00, #ff0f00), linear-gradient(90deg, #fff, #fff), linear-gradient(0deg, #fff, #fff);
  background-color: #0048e0;
  background-size: 100% 16px, 16px 100%, 100% 32px, 32px 100%;
  background-position: 0 64px, 64px 0, 0 56px, 56px 0;
}
.vex._no {
  height: 145.45454545454538px;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(0deg, #002664, #002664), -webkit-linear-gradient(90deg, #002664, #002664), -webkit-linear-gradient(0deg, #fff, #fff), -webkit-linear-gradient(90deg, #fff, #fff);
  background-image: linear-gradient(90deg, #002664, #002664), linear-gradient(0deg, #002664, #002664), linear-gradient(90deg, #fff, #fff), linear-gradient(0deg, #fff, #fff);
  background-color: #ed2939;
  background-size: 100% 18.181818181818173px, 18.181818181818183px 100%, 100% 36.363636363636346px, 36.36363636363637px 100%;
  background-position: 0 63.636363636363605px, 63.63636363636363px 0, 0 54.54545454545452px, 54.54545454545455px 0;
}
.vex._fl {
  height: 122.22222222222221px;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(0deg, #002f6c, #002f6c), -webkit-linear-gradient(90deg, #002f6c, #002f6c);
  background-image: linear-gradient(90deg, #002f6c, #002f6c), linear-gradient(0deg, #002f6c, #002f6c);
  background-color: #fff;
  background-size: 100% 33.33333333333333px, 33.333333333333336px 100%;
  background-position: 0 44.44444444444444px, 55.55555555555556px 0;
}
.vex._am {
  height: 100px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 33.33333333333333px solid #d90012;
  border-bottom: 33.33333333333333px solid #f2a800;
  background: #0033a0;
}
.vex._ua {
  height: 133.3333333333334px;
  background: -webkit-linear-gradient(#0057b8 0%, #0057b8 50%, #ffd700 50%, #ffd700 100%);
  background: linear-gradient(#0057b8 0%, #0057b8 50%, #ffd700 50%, #ffd700 100%);
}
.vex._lt {
  height: 120px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 39.99999999999999px solid #fdb913;
  border-bottom: 39.99999999999999px solid #c1272d;
  background: #006a44;
}
.vex._bg {
  height: 120px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 39.99999999999999px solid #fff;
  border-bottom: 39.99999999999999px solid #d62612;
  background: #00966e;
}
.vex._fr {
  height: 133.3333333333334px;
  background: -webkit-linear-gradient(right, #0055a4 0%, #0055a4 33.33333333333333%, #fff 33.33333333333333%, #fff 66.66666666666666%, #ef4135 66.66666666666666%, #ef4135 99.99999999999999%);
  background: linear-gradient(to left, #0055a4 0%, #0055a4 33.33333333333333%, #fff 33.33333333333333%, #fff 66.66666666666666%, #ef4135 66.66666666666666%, #ef4135 99.99999999999999%);
}
.vex._gr {
  height: 133.3333333333334px;
  height: 133.3333333333334px;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat-y;
  background-image: -webkit-linear-gradient(0deg, #fff, #fff), -webkit-linear-gradient(90deg, #fff, #fff), -webkit-linear-gradient(#004c98 100%, #fff 100%), -webkit-linear-gradient(#004c98 50%, #fff 50%);
  background-image: linear-gradient(90deg, #fff, #fff), linear-gradient(0deg, #fff, #fff), linear-gradient(#004c98 100%, #fff 100%), linear-gradient(#004c98 50%, #fff 50%);
  background-color: #004c98;
  background-size: 74.0740740740741px 14.814814814814822px, 14.814814814814815px 74.0740740740741px, 74.0740740740741px 74.0740740740741px, 100% 29.629629629629612px;
  background-position: 0 29.629629629629644px, 29.62962962962963px 0, 0 0, 0 0;
}
.vex._ie {
  height: 100px;
  background: -webkit-linear-gradient(right, #009a49 0%, #009a49 33.33333333333333%, #fff 33.33333333333333%, #fff 66.66666666666666%, #ff7900 66.66666666666666%, #ff7900 99.99999999999999%);
  background: linear-gradient(to left, #009a49 0%, #009a49 33.33333333333333%, #fff 33.33333333333333%, #fff 66.66666666666666%, #ff7900 66.66666666666666%, #ff7900 99.99999999999999%);
}
.vex._it {
  height: 133.3333333333334px;
  background: -webkit-linear-gradient(right, #009246 0%, #009246 33.33333333333333%, #f1f2f1 33.33333333333333%, #f1f2f1 66.66666666666666%, #ce2b37 66.66666666666666%, #ce2b37 99.99999999999999%);
  background: linear-gradient(to left, #009246 0%, #009246 33.33333333333333%, #f1f2f1 33.33333333333333%, #f1f2f1 66.66666666666666%, #ce2b37 66.66666666666666%, #ce2b37 99.99999999999999%);
}
.vex._lu {
  height: 133.3333333333334px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-top: 44.444444444444464px solid #ef3340;
  border-bottom: 44.444444444444464px solid #00a3e0;
  background: #fff;
}
