// calc height of flag
vex_height(value)
  height $currentWidth * value

line(num, color)
  linear-gradient(num, color, color)

// mixin to do gorizontal tricolor
tricolor(top, middle, bottom)
  box-sizing border-box
  border-top (@height * $one_third / 100) solid top
  border-bottom (@height * $one_third / 100) solid bottom
  background middle 
  
  

// mixin to do vertical tricolor
vartical_tricolor(first, second, third)
  background linear-gradient(to left, first 0%, first $one_third, second $one_third, second ($one_third*2), third ($one_third*2), third ($one_third*3))

// twocolor like Poland, Ukraine - from top to bottom
twocolor(first, second)
  background linear-gradient(first 0%, first $half, second $half, second 100%)

// for example sweden
cross(bg, cross_color, ratio_h, ratio_w, top, left, size)
  $ratio = ratio_h / ratio_w
  height $currentWidth * $ratio
  background-repeat no-repeat  
  background-image line(90deg, cross_color), line(0deg, cross_color)
  background-color bg
  background-size 100% (@height * size / ratio_h)px, ($currentWidth * size / ratio_w)px 100%
  background-position 0 (@height * top / ratio_h)px, ($currentWidth * left / ratio_w)px 0
  


// special mixin for norway and iceland
nordic_cross(bg, cross_color_1, cross_color_2, ratio_h, ratio_w, top, left)
  $ratio = ratio_h / ratio_w
  height $currentWidth * $ratio
  background-repeat no-repeat  
  background-image line(90deg, cross_color_1), line(0deg, cross_color_1), line(90deg, cross_color_2), line(0deg, cross_color_2)
  background-color bg
  background-size 100% (@height * 2 / ratio_h)px, ($currentWidth * 2 / ratio_w)px 100%, 100% (@height * 4 / ratio_h)px, ($currentWidth * 4 / ratio_w)px 100%
  background-position 0 (@height * top / ratio_h)px, ($currentWidth * left / ratio_w)px 0, 0 (@height * (top - 1) / ratio_h)px, ($currentWidth * (left - 1) / ratio_w)px 0