// flags
.vex
  width $currentWidth

  // EUROPE

  // russia
  &._ru
    vex_height($ratio_2to3)
    tricolor(#fff, $blue_p286, $red_p485)

  // latvia
  &._lv
    vex_height($ratio_1to2)
    border-top (@height * 40 / 100) solid $red_201
    border-bottom (@height * 40 / 100) solid $red_201
    box-sizing border-box
    background #FFF

  // poland
  &._pl
    vex_height($ratio_5to8)
    twocolor(#fff, #D4213D)

  // czech republic
  &._cz
    vex_height($ratio_2to3)
    box-sizing border-box
    border-style: solid
    border-width: (@height * 50 / 100) 0 (@height * 50 / 100) (@width * 50 / 100)
    border-color: white transparent transparent $blue_cz
    background $red_cz

  // hungary
  &._hu
    vex_height($ratio_2to3)
    tricolor($red_18, #fff, $green_18)

  // Austria
  &._at
    vex_height($ratio_2to3)
    tricolor($red_at, #fff, $red_at)

  // Germany
  &._de
    vex_height($ratio_3to5)
    tricolor(black, $red_ger, $yel_ger)

  // Estonia
  &._ee
    vex_height($ratio_7to11)
    tricolor($blue_p285, black, white)

  // Belgium
  &._be
    vex_height($ratio_13to15)
    vertical_tricolor(black, $yel_bel, $red_bel)

  // Denmark
  &._dk
    // 28:37
    cross($red_den, #fff, 28, 37, 12, 12, 4)

  // Sweden
  &._se
    // 10:16
    cross($blue_se, $yel_se, 10, 16, 4, 5, 2)

  // iceland
  &._is
    nordic_cross($blue_ice, $red_ice, #fff, 18, 25, 8, 8)

  // norway
  &._no
    nordic_cross($red_no, $blue_no, #fff, 16, 22, 7, 7)

  // Finland
  &._fl
    cross(#fff, $blue_fl, 11, 18, 4, 5, 3)

  // Armenia
  &._am
    vex_height($ratio_1to2)
    tricolor($red_am, $blue_am, $yel_am)

  // Ikraine
  &._ua
    vex_height($ratio_2to3)
    twocolor(#0057b8, #ffd700)

  // Lithuania
  &._lt
    vex_height($ratio_3to5)
    tricolor($yel_lt, $green_lt, $red_lt)

  // Bulgaria
  &._bg
    vex_height($ratio_3to5)
    tricolor(#fff, $green_bg, $red_bg)

  // French
  &._fr
    vex_height($ratio_2to3)
    vertical_tricolor($blue_fr, #fff, $red_fr)
  
  // Greece
  &._gr
    vex_height($ratio_2to3)
    greece_flag($blue_gr, #fff, 18, 27, 4, 4, 2)
  
  // Ireland
  &._ie
    vex_height($ratio_1to2)
    vertical_tricolor($orange_ie, #fff, $green_ie)
  
  // Italy
  &._it
    vex_height($ratio_2to3)
    vertical_tricolor($green_it, $white_it, $red_it)
  
  // Luxembourg
  &._lu
    vex_height($ratio_2to3)
    tricolor($red_lu, #fff, $blue_lu)

  // Netherlands
  &._nl
    vex_height($ratio_2to3)
    tricolor($red_nl, #fff, $blue_nl)