/*
* vexillum by @talgautb
*/

// flag's size
$currentWidth   = 100px
// height is calculated automatically

// constants

// % of color
$one_third   = 33.33333333333333%
$half       = 50%

// Ratio height:width
$ratio_1to2     = 1 / 2
$ratio_2to3     = 2 / 3
$ratio_3to5     = 3 / 5
$ratio_5to8     = 5 / 8 // 10:16
$ratio_7to11    = 7 / 11
$ratio_13to15   = 13 / 15
$ratio_16to22   = 16 / 22
$ratio_18to25   = 18 / 25
$ratio_28to37   = 28 / 37



// flag's color 
// hex or rgb ?

$red_p485 = #D52B1E // pantone 485С
$red_201  = #8C1515 // Cardinal Red pantone 201C
$red_18   = #CD2A3E // phantone 18-1660
$red_at   = #ed2923 // RGB 237 41 35
$red_ger  = #FF0000 // 255,0,0, pantone 485
$red_bel  = #FF0F21 // red 32
$red_den  = #E31836 // 186 C
$red_ice  = #FF0F00 // I1795 iceland
$red_no   = #ED2939 // norway
//$red_uk   = rgb(207, 20, 43) // 186 c

$yel_ger  = #FFCC00 // Cadmium yellow pantone 7405 cmyk 0-12-100-5
$yel_bel  = #FFE936 // Yellow 115
$yel_se   = #FFDE00 // sweden

$blue_p286  = #0039A6 //pantone 286C
$blue_p285  = #007DC3 // 285 C
$blue_ice   = #0048E0 // iceland
$blue_no    = #002664 // norway
$blue_se    = #0065A4 // sweden
$blue_fl    = #002f6c // finland
//$blue_uk  = rgb(0, 36, 125) // 280 c

$green_18   = #436F4D // pantone 18-6320

// Import files
@import '_mixins'
@import '_vexillum'